:root {
  --bg: #f8fafc;
  --text: #1e293b;

  --font-family-base: 'Roboto', sans-serif;
  --font-size-base: 14px;

  --white-color: #ffffff;
  --black-color: #05060f;

  --color-primary: #6366f1;
  --color-secondary: #22c55e;
  --color-accent: #f59e0b;

  --light-platinum: #e2e8f0;
  --gray: #334155;
  --light-gray: #64748b;
  --extra-light-gray: #f1f5f9;
}

.dark {
  --bg: #0f172a;
  --text: #f1f5f9;
}
